

/*
div {
  width: max-content;
  font-family: 'Roboto', sans-serif;
  margin:auto;
  font-size: 4em;
  border: 2px solid black;
  margin-top: 15px;
  transition: 2s;
}


div:hover{
  background-color: green;
  border-radius: 50px;
}
*/
header
{
  display: flex;
  justify-content: space-around;
  background-color: rgb(41, 41, 41);
  height: 100px;
}


nav
{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;

  /*
  justify-content: space-around;
  list-style-type: none;
  padding: 0;
  */
}

nav>img
{
  height: 70px;
  width: 200px;

}
nav>ul
{
  display: inline-flex;
  margin: 20px;
  /*
  flex-direction: row;
  justify-content: space-around;
  */
}

nav>ul>li
{
  margin: 20px;
}


nav>ul>li>a
{
  text-decoration: none;
  font-weight: bold;
  color: grey;

}

main
{
  margin: 20px;
}
main>img
{
  margin: auto;
  display: block;
}
main>ul
{
  margin: 1%;
  display: flex;
  justify-content: center;
  gap: 30px;
}
main>ul>li
{
  margin: 2px;
}
main > section
{
  display: flex;
  justify-content: center;
  
}

main > section> img
{
  margin: 10px;
}
main > section> article
{
  margin: 10px;
  width: 20%;
}
main > section> article >button
{
  background-color: black;
  font-weight: bold;
  color: white;
}

main > section> article >button:hover
{
  background-color: green;
  border-radius: 50px;
  transition: 2s;
}
footer
{
  background-color: rgb(41, 41, 41);
  padding: 50px;
  border: 25px black;
  margin: 50px 0px;
  width: 100%;

}